:root {
  /* Iris #4d5ae5; */
  --primary-brand-color: #4d5ae5;

  /* Ocean #404bbf; */
  --hover-color: #404bbf;

  /* Navy-Blue #2e2f42; */
  --title-color: #2e2f42;
  --hero-bg-color: #2e2f42;
  --footer-bg-color: #2e2f42;

  /* greeen #31d0aa; */
  --footer-hover-color: #31d0aa;

  /* Slate #434455; */
  --text-color: #434455;

  /* Light slate #8E8F99; */
  --helped-color: #8e8f99;

  /* Cornflower #E7E9FC; */
  --footer-text: #e7e9fc;
  --border-color: #e7e9fc;

  /* Cloud #F4F4FD;  */
  --team-bg-color: #f4f4fd;
  --secondary-bg-btn: #f4f4fd;
  --character-icon-bg: #f4f4fd;
  --social-media-color: #f4f4fd;
  --footer-span-color: #f4f4fd;
  --hover-border-portfolio: #f4f4fd;

  /* white */
  --white: #fff;

  /* black */
  --black: #000;
}
/* ----------------------------BODY---------------------------- */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:is(:hover, :focus) {
  color: var(--hover-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ----------------------------BUTTONS---------------------------- */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn {
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}

.portfolio-btn {
  padding: 12px 24px;
  color: var(--primary-brand-color);
  background-color: var(--secondary-bg-btn);
  border: 1px solid var(--border-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--hover-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------------------HEADER---------------------------- */
.header {
  border-bottom: 1px solid var(--border-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.logo {
  font-family: "Raleway";
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 28px;
  font-size: 18px;
  line-height: 1.33;
  color: var(--title-color);
}

.accent {
  color: var(--primary-brand-color);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  max-height: 76px;
}

.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 28px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-link.current {
  position: relative;
  color: var(--hover-color);
}

.header-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.header-contact {
  display: flex;
  gap: 40px;
}

.header-commerce {
  font-style: normal;
  letter-spacing: 0.02em;
  color: inherit;
}
/* ----------------------------MAIN---------------------------- */
/* -----------------------SECTION TITLES----------------------- */
.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

/* ----------------------------HERO---------------------------- */
.hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-color: var(--hero-bg-color);
}

.hero-title {
  width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
}

/* ----------------------------CHARACTER---------------------------- */
.character-list {
  display: flex;
  gap: 24px;
}

.character-item {
  flex-basis: calc((100% - 72px) / 4);
}

.character-icon {
  padding: 24px 100px;
  margin-bottom: 8px;
  background-color: var(--character-icon-bg);
  border-radius: 4px;
}

.character-text {
  letter-spacing: 0.02em;
}
/* ---------------------------WHAT ARE WE DOING--------------------------- */
.work {
  padding-bottom: 120px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-item {
  flex-basis: calc((100% - 48px) / 3);
}
/* ----------------------------TEAM----------------------------*/
.team {
  background-color: var(--team-bg-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item-wrap {
  padding: 32px 16px;
  text-align: center;
  background-color: var(--white);
}

.team-text {
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
}

.team-soc-item {
  flex-basis: calc((100% - 72px) / 4);
  height: 40px;
}

.team-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--footer-hover-color);
}
/* --------------------------CUSTOMERS-------------------------- */
.customers {
  padding-top: 130px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  flex-basis: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--helped-color);
  border-radius: 4px;
  color: var(--helped-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.customers-logo {
  fill: currentColor;
}
/* --------------------------PORTFOLIO-------------------------- */
.portfolio {
  padding-top: 96px;
}

.btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  gap: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  display: block;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px 0;
  background-color: var(--primary-brand-color);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:is(:hover, :focus) .portfolio-overlay {
  transform: translateY(0);
}

.overlay-text {
  letter-spacing: 0.02em;
  color: var(--white);
}

.portfolio-item-wrap {
  padding: 32px 0 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:is(:hover, :focus) .portfolio-item-wrap {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: 0.5px solid var(--hover-border-portfolio);
  border-top: none;
}

.portfolio-text {
  letter-spacing: 0.02em;
  color: var(--title-color);
}
/* ----------------------------FOOTER---------------------------- */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--footer-bg-color);
}

.footer-div {
  display: flex;
  align-items: start;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  width: 115px;
  font-size: 18px;
  line-height: 1.17;
  display: block;
  color: var(--primary-brand-color);
}

.footer-accent {
  color: var(--footer-span-color);
}

.footer-text {
  width: 264px;
  letter-spacing: 0.02em;
  color: var(--footer-text);
}

.footer-soc {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  gap: 16px;
}

.footer-soc-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  width: 208px;
}

.footer-soc-item {
  flex-basis: calc((100% - 48px) / 4);
  height: 40px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--footer-hover-color);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 453px;
  margin-left: auto;
}

.footer-subscribe-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-form {
  display: flex;
  gap: 24px;
  height: 40px;
}

.footer-input {
  height: 100%;
  width: 264px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus-within {
  border: 1px solid var(--primary-brand-color);
  outline: none;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  color: var(--white);
  background: var(--primary-brand-color);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}
/* ----------------------------MODAL---------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;

  color: var(--black);
  background: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--hover-color);
  border: transparent;
}

.icon-close {
  fill: currentColor;
}

.modal-text {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--helped-color);
}

.modal-label:nth-child(4) {
  margin-bottom: 16px;
}

.modal-label:nth-child(5) {
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 0;
  margin-bottom: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-brand-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid var(--primary-brand-color);
  outline: none;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: inline-block;
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .modal-icon {
  fill: var(--primary-brand-color);
}

.modal-textarea {
  height: 120px;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-brand-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus-within {
  border: 1px solid var(--primary-brand-color);
  outline: none;
}

.modal-checkbox {
  appearance: none;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}

.click-icon {
  position: absolute;
  padding: 4px 3px;
  border-radius: 2px;
  fill: transparent;
}

.modal-checkbox:checked ~ .click-icon {
  fill: #f4f4fd;
  background-color: var(--hover-color);
}

.modal-link {
  text-decoration-line: underline;
  color: var(--primary-brand-color);
}

.modal-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--hover-color);
}
